:root,
#root,
.App,
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #dee0ff;
  font-family: "Montserrat", sans-serif;
  --font-family: "Roboto Mono", monospace;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
.appConnected {
  display: flex;
  height: 100vh;
}

.connexion {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border: 1px solid black;
  border-radius: 10px;
}

form > label,
input,
button {
  width: 30vw;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.listPlayer {
  border: 1px solid black;
  width: 30vw;
  margin: 10px;
}
.listPlayer p {
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.listPlayer ul {
  padding: 0;
}
.listPlayer li {
  padding-left: 20px;
  list-style-type: none;
}

.indisponible {
  color: rgb(159, 159, 159);
}

.disponilble {
  color: rgb(61, 175, 195);
}

.turnOn {
  text-align: center;
  background-color: rgb(179, 225, 179);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 0;
}

.turnOff {
  text-align: center;
  background-color: rgb(255, 191, 191);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 0;
}
